{% extends 'base.html' %}
{% load staticfiles %}

<form action="." id="login_form" name="login_form" method="post">
    {% csrf_token %}
    {% for field in login_form %}
        {{field.as_hidden}}
    {% endfor %}
</form>

{% block header_text %}
    <h2>My Dashboard</h2>
{% endblock %}

{% block page_content %}
    <div class="col-md-12 row">
        <div class="col-md-6">
            <div class="col-md-12">
                <h2>My Quotes and Orders</h2>
            </div>
            <div class="col-md-12" id="quoteTableContainer">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Basket</td>
                            <td>Quoted Cost</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for quote in quotes %}
                            <tr>
                                <td></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <h2>My Strains</h2>
            </div>
        </div>
    </div>
{% endblock %}