{% extends 'base.html' %}
{% load staticfiles %}

<form action="." id="login_form" name="login_form" method="post">
    {% csrf_token %}
    {% for field in login_form %}
        {{field.as_hidden}}
    {% endfor %}
</form>

{% block header_text %}
    <h2>My Dashboard</h2>
{% endblock %}

{% block page_content %}
    <div class="col-md-12 row">
        <div class="col-md-6">
            <div class="col-md-12">
                <h2>My Quotes and Orders</h2>
            </div>
            <div class="col-md-12" id="quoteTableContainer">
                <table class="table table-hover" id="quoteTable">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Basket</td>
                            <td>Quoted Cost</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for quote in request.user.quote_set.all %}
                            <tr class="quoteRow" id="{{quote.pk}}">
                                <td>{{quote.pk}}</td>
                                <td>
                                    <ul class="basketContentList">
                                        {% for p in quote.basket.purchases.all %}
                                            <li class="purchaseElement" id="{{p.pk}}">
                                                {{p.strain.name}}: x<b>{{p.quantity}}</b>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <h2>Purchased Strains</h2>
            </div>
            <div class="col-md-12" id="strainTableContainer">
                <table class="table table-hover" id="strainTable">
                    <thead>
                        <tr>
                            <td>Name</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for strain in request.user.strain_set.all %}
                            <tr class="strainRow" id="{{strain.pk}}">
                                <td>{{strain.name}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}