{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css_files %}
<link href="{% static 'css/checkout.css' %}" rel="stylesheet">
<link href="{% static 'css/errorModal.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js_files %}
<script type="text/javascript" src="{% static 'js/validation.js' %}"></script>
<script type="text/javascript" src="{% static 'js/checkout.js' %}"></script>
{% endblock %}

{% block header_text %}
    <h2>Checkout</h2>
{% endblock %}



{% block page_content %}

    <form name="quoteForm" id="quoteForm" method="POST">
        {% csrf_token %}
        {% for field in quote_form %}
            {{field.as_hidden}}
        {% endfor %}
    </form>

    {% include 'include/checkoutSummaryModal.html' %}
    {% include 'include/errorModal.html' %}

    <div class="col-md-12">
        <h2>My Basket</h2>
        <hr>
    </div>
    <div class="col-md-12" id="basketSummaryContainer">
        <table class="table table-hover" id="basketSummary">
            <tbody>
                {% for item in basket.items %}
                    <tr class="itemRow">
                        <td class="itemAmountCell"><b>{{item.amount}}x</b></td>
                        <td class="itemNameCell">{{item.name}}</td>
                        <td class="itemCostCell" align="right">£{{item.cost}}</td>
                    </tr>
                {% endfor %}
                <tr clas="costSummaryRow">
                    <td></td>
                    <td></td>
                    <td align="right"><h3><b>TOTAL: £{{basket.total_cost}}</b></h3></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#paymentDetailsTab">Payment</a></li>
            <li><a data-toggle="tab" href="#billingAddressTab">Billing</a></li>
            <li><a data-toggle="tab" href="#deliveryAddressTab">Delivery</a></li>
            <li><a data-toggle="tab" href="#promotionsTab">Promotions</a></li>
            <li><a data-toggle="tab" href="#notesTab">Notes</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div id="paymentDetailsTab" class="tab-pane fade in active">
            <div class="col-md-12"><br></div>
            <div class="col-md-12">
                <div class="col-md-5">
                    <h4>Name:</h4>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="nameInput">
                </div>
            </div>
            <div class="col-md-12"><br></div>
            <div class="col-md-12">
                <div class="col-md-5">
                    <h4>Email:</h4>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="emailInput">
                </div>
            </div>
            <div class="col-md-12"><br></div>
            <div class="col-md-12">
                <div class="col-md-5">
                    <h4>Confirm Email:</h4>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="confirmEmailInput">
                </div>
            </div>
            <div class="col-md-12"><br></div>
            <div class="col-md-12">
                <div class="col-md-5">
                    <h4>Funding Type:</h4>
                </div>
                <div class="col-md-7">
                    <div class="dropdown">
                        
                        <button class="btn btn-primary dropdown-toggle" id="fundingTypeDropdown" type="button" data-toggle="dropdown">
                            Select Funding Type
                            <span class="caret"></span>
                        </button>
                        
                        <ul class="dropdown-menu" id="fundingTypeDropdownMenu">
                            <li class="fundingTypeOption" id="NC">Non-Commercial</li>
                            <li class="fundingTypeOption" id="B">BBSRC</li>
                            <li class="fundingTypeOption" id="I">Industry</li>
                            <li class="fundingTypeOption" id="UB">Internal UoB</li>
                            <li class="fundingTypeOption" id="NS">Not Set</li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-md-12"><br></div>
            <div class="col-md-12" id="bbsrcContainer">
                <div class="col-md-5">
                    <h4>BBSRC Code:</h4>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="bbsrcCodeInput">
                </div>
            </div>
            
        </div>
        <div id="billingAddressTab" class="tab-pane fade">
        </div>
        <div id="deliveryAddressTab" class="tab-pane fade">
        </div>
    </div>
{% endblock %}