{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css_files %}
<link href="{% static 'css/checkout.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js_files %}
<script type="text/javascript" src="{% static 'js/checkout.js' %}"></script>
{% endblock %}

{% block header_text %}
    <h2>Checkout</h2>
{% endblock %}



{% block page_content %}

    <form name="quoteForm" id="quoteForm">
        {% csrf_token %}
        {% for field in quote_form %}
            {% field.as_hidden %}
        {% endform %}
    </form>

    {% include 'include/checkoutSummaryModal.html' %}
    <div class="col-md-12">
        <h2>My Basket</h2>
        <hr>
    </div>
    <div class="col-md-12" id="basketSummaryContainer">
        <table class="table table-hover" id="basketSummary">
            <tbody>
                {% for item in basket.items %}
                    <tr class="itemRow">
                        <td class="itemAmountCell"><b>{{item.amount}}x</b></td>
                        <td class="itemNameCell">{{item.name}}</td>
                        <td class="itemCostCell" align="right">£{{item.cost}}</td>
                    </tr>
                {% endfor %}
                <tr clas="costSummaryRow">
                    <td></td>
                    <td></td>
                    <td align="right"><h3><b>TOTAL: £{{basket.total_cost}}</b></h3></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12" id="orderDetailsRow">
        <div class="col-md-4 orderDetailsContainer">
            <div class="col-md-12">
                <h3>Order Details</h3>
                <hr>
            </div>
            <div class="col-md-12">
                <div class="col-md-5">
                    <h4>Name:</h4>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="nameInput">
                </div>
            </div>
            <div class="col-md-12"><br></div>
            <div class="col-md-12">
                <div class="col-md-5">
                    <h4>Email:</h4>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="emailInput">
                </div>
            </div>
            <div class="col-md-12"><br></div>
            <div class="col-md-12">
                <div class="col-md-5">
                    <h4>Confirm Email:</h4>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="confirmEmailInput">
                </div>
            </div>
            <div class="col-md-12"><br></div>
            <div class="col-md-12">
                <div class="col-md-5">
                    <h4>Funding Type:</h4>
                </div>
                <div class="col-md-7">
                    <div class="dropdown">
                        
                        <button class="btn btn-primary dropdown-toggle" id="fundingTypeDropdown" type="button" data-toggle="dropdown">
                            Select Funding Type
                            <span class="caret"></span>
                        </button>
                        
                        <ul class="dropdown-menu" id="fundingTypeDropdownMenu">
                            <li class="fundingTypeOption" id="NC">Non-Commercial</li>
                            <li class="fundingTypeOption" id="B">BBSRC</li>
                            <li class="fundingTypeOption" id="I">Industry</li>
                            <li class="fundingTypeOption" id="UB">Internal UoB</li>
                            <li class="fundingTypeOption" id="NS">Not Set</li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-md-12"><br></div>
            <div class="col-md-12" id="bbsrcContainer">
                <div class="col-md-5">
                    <h4>BBSRC Code:</h4>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="bbsrcCodeInput">
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-5">
                    <h4>Notes:</h4>
                </div>
                <div class="co-md-7">
                    <textarea class="form-control" rows="5" id="noteInput" placeholder="max 250 chars"></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-4 orderDetailsContainer">
            <div class="col-md-12">
                <h3><b>Billing</b> Address</h3>
                <hr>
            </div>
            <div class="col-md-12">
                <textarea class="form-control addressInput" rows="13" id="billingAddressInput"></textarea>
            </div>
        </div>
        <div class="col-md-4 orderDetailsContainer">
            <div class="col-md-12">
                <h3><b>Delivery</b> Address</h3>
                <hr>
            </div>
            <div class="col-md-12">
                <textarea class="form-control addressInput" rows="13" id="deliveryAddressInput"></textarea>
            </div>
        </div>
    </div>
    <div class="col-md-12" align="right">
        <button type="button" class="btn btn-success" id="viewSummary">Submit</button>
    </div>
{% endblock %}