.itemAmountCell {
    width: 15%;
}
.itemNameCell {
    width: 70%;
}
.itemCostCell {
    width: 15%;
}

#fundingTypeDropdown {
    width: 100%;
}

.fundingTypeOption {
    width: 100%;
}


#basketSummaryContainer {
    height: 35vh;
    overflow-y: auto;
}

#basketSummary {
    overflow-y: auto;
}

#orderDetailsRow {
    height: 40vh;
}

.addressInput {
    resize: none;
}

#noteInput {
    resize: none;
    width: 100%;
}

#viewSummary {
    width: 10%;
}

.fieldLabel {
    width: 40%;
}


.fundingTypeOption {
    width: 100%;
}

#noteSummary {
    white-space: pre-wrap;
}

.disabledSelector {
    background-color: #efefef;
    color: #555555;
}

.activeSelector {
    background-color: #5cb85c !important;
    color: #ffffff !important;
}

.completeSelector {
    background-color: #a2d8a2 !important;
    color: #e8e8e8 !important;
}

.nextButton {
    margin-right: 15px;
    margin-bottom: 15px;
}