{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css_files %}
<link href="{% static 'css/search.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js_files %}
    <script>
        var taxStructure = {{data|safe}};
        var worldJson = {{world_data|safe}};
    </script>
    
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="http://d3js.org/d3.v4.min.js"></script>
    <!--<script type="text/javascript" src="{% static 'js/dropdownFilter.js' %}"></script>-->
    <script type="text/javascript" src="{% static 'js/submitSearch.js' %}"></script>
    <!--<script type="text/javascript" src="{% static 'js/worldMapDisplay.js' %}"></script>-->
    <script type="text/javascript" src="{% static 'js/blastSearch.js' %}"></script>
{% endblock %}


{% block header_text %}
    <h2>Strain Search</h2>
{% endblock %}

{% block page_content %}
    <form id="searchParameterForm" method="post" name="searchParameterForm">
        {% csrf_token %}
        {% for field in searchParameterForm %}
            {{field.as_hidden}}
        {% endfor %}
    </form>

    <div class="col-md-12">
        <h2>Construct Search</h2>
        <br>
    </div>

    <div class="col-md-8">
        <h3>BLAST Search</h3>
        <hr>
    </div>
    <div class="col-md-4">
        <h3>Initial Filters</h3>
        <hr>
    </div>

    <div class="col-md-8">
        <div class="Col-md-12">
            <h4>Query Sequence:</h4>
        </div>
        <div class="col-md-12">
            <textarea class="form-control" rows="10" cols="20" id="blastSearchInput"></textarea>
            <br>
        </div>
        <div class="col-md-12">
            <div class="col-md-2">
                <h4>Select BLAST Type:</h4>
            </div>
            <div class="col-md-5 blastSelectionContainer">
                <label class="radio-inline">
                    <input type="radio" class="searchRadioButton" id="blastnRadio"><h4>BLAST-N</h4>
                </label>
            </div>
            <div class="col-md-5 blastSelectionContainer">
                <label class="radio-inline">
                    <input type="radio" class="searchRadioButton" id="blastpRadio"><h4>BLAST-P</h4>
                </label>
            </div>
        </div>
        <div class="col-md-12"><br></div>
        <div class="col-md-12">
            <div class="col-md-2">
                <h4>Parameters:</h4>
            </div>
            <div class="col-md-10">
                <input type="text" class="form-control" id="promoCodeInput">
            </div>
        </div>
    </div>
    <div class="col-md-4">
    </div>
    
    <div class="col-md-12"><hr></div>

    <div class="col-md-12" id="submitFooter" align="right">
          <input type="submit" class="btn btn-success" id="a" form="searchParameterForm" value="Search">
    </div>


{% endblock %}