{% extends "base.html" %}
{% load staticfiles %}

{% block header_text %}
    <h2>Strain Search</h2>
{% endblock %}

{% block page_content %}

    <div class="col-md-12">
        <h2>Construct Search</h2>
    </div>
    
    <div class="col-md-12">
        <div class="col-md-4">
            <h3>Family</h3>
        </div>
        <div class="col-md-4">
            <h3>Genus</h3>
        </div>
        <div class="col-md-4">
            <h3>Species</h3>
        </div>
    </div>

    <div class="col-md-12">
        <div class="col-md-4">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" id="familyDropdown" type="button" data-toggle="dropdown">
                    Select Families
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" id="familyDropdownMenu">
                
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" id="generaDropdown" type="button" data-toggle="dropdown">
                    Select Genera
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" id="generaDropdownMenu">

                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" id="speciesDropdown" type="button" data-toggle="dropdown">
                    Select Species
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" id="speciesDropdownMenu">

                </ul>
            </div>
        </div>
    </div>

{% endblock %}