{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css_files %}
<link href="{% static 'css/search.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js_files %}
    <script>
        var taxStructure = {{data|safe}};
    </script>
    <script type="text/javascript" src="{% static 'js/dropdownFilter.js' %}"></script>
{% endblock %}


{% block header_text %}
    <h2>Strain Search</h2>
{% endblock %}

{% block page_content %}
    <form id="searchParameterForm" action="." method="post" name="searchParameterForm">
        {% csrf_token %}
        {% for field in searchParameterForm %}
            {{form.as_hidden}}
        {% endform %}
    </form>

    <div class="col-md-12">
        <h2>Construct Search</h2>
    </div>
    
    <div class="col-md-12">
        <div class="col-md-4">
            <h3>Family</h3>
        </div>
        <div class="col-md-4">
            <h3>Genus</h3>
        </div>
        <div class="col-md-4">
            <h3>Species</h3>
        </div>
    </div>

    <div class="col-md-12">
        <div class="col-md-4">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle taxDropdown" id="familyDropdown" type="button" data-toggle="dropdown">
                    Select Families
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu taxDropdownMenu" id="familyDropdownMenu">
                
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle taxDropdown" id="generaDropdown" type="button" data-toggle="dropdown">
                    Select Genera
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu taxDropdownMenu" id="generaDropdownMenu">

                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle taxDropdown" id="speciesDropdown" type="button" data-toggle="dropdown">
                    Select Species
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu taxDropdownMenu" id="speciesDropdownMenu">

                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-12"><hr></div>
    <div class="col-md-12">
          <input type="submit" class="btn btn-success" form="searchParameterForm" value="Search">
    </div>


{% endblock %}