<!DOCTYPE HTML>
<html>
    <head>

        <title>MicrobesNG Strain Archive Quote</title>
        <style type="text/css">
            
        </style>
    </head>
    <body>
        <div align="middle">
            <h2>MicrobesNG Strain Archive Quote</h2>
        </div>
        <div>
            <h4>Your Orders</h4>
        </div>
        <div>
            <div>
                <ul>
                    {% for purchase in quote.basket.purchases.all %}
                        <li>{{purchase.quantity}}x {{purchase.strain.name}}: {{purchase.cost}}</li>
                    {% endfor %}
                </ul>
                <div>
                    <h4>Total Cost: £{{quote.basket.total_cost}}</h4>
                </div>
            </div>
        </div>
        
    </body>
</html>