<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>MicrobesNG Strain Archive Quote</title>
        <style type="text/css">
            
        </style>
    </head>
    <body>
        
        <div>
            <ul>
                {% for purchase in quote.basket.purchases.all %}
                    <li>{{purchase.quantity}}x {{purchase.strain.name}}: {{purchase.cost}}</li>
                {% endfor %}
            </ul>
            <div>
                <h4>Total Cost: £{{quote.basket.total_cost}}</h4>
            </div>
        </div>
        
    </body>
</html>