{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="{% static 'js/messages.js' %}"></script>
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        <link href="{% static 'css/messages.css' %}" rel="stylesheet">

        {% block extra_css_files %}
        {% endblock %}

        {% block extra_js_files %}
        {% endblock %}

        {% block inpage_js %}
        {% endblock %}

    </head>

    <body>

        {% include 'include/messages.html' %}

        <div class="col-md-12 container headerContainer">
            <div class="col-md-6" aling="left">
                <h2 class="headerText">MicrobesNG Strain Archive</h2>
            </div>
            <div class="col-md-6" align="right">
                {% block header_text %}
                {% endblock %}
            </div>
        </div>

        <div class="col-md-12 container mainContainer">

            <div class="container menuContainerCollapsed">

                <div class="collapsedMenuElement" align="middle">
                    <img src="{% static 'images/menuIcon.png' %}" class="menuToggleIcon" id="menuToggle">
                </div>

                <div class="collapsedMenuElement" align="middle">
                    {% block dash_element %}
                        <a href="{% url 'management:dashboard' %}">
                            <img src="{% static 'images/dashIcon.png' %}" class="menuToggleIcon" id="dashIcon">
                        </a>
                    {% endblock %}
                </div>

                <div class="collapsedMenuElement" align="middle">
                    {% block strain_element %}
                        <a href="{% url 'management:strains' %}">
                            <img src="{% static 'images/strainIcon.png' %}" class="menuToggleIcon" id="strainIcon">
                        </a>
                    {% endblock %}
                </div>

                <div class="collapsedMenuElement" align="middle">
                    {% block sales_element %}
                    <a href="{% url 'management:sales' %}">
                        <img src="{% static 'images/salesIcon.png' %}" class="menuToggleIcon" id="salesIcon">
                    </a>
                    {% endblock %}
                </div>

                <div class="collapsedMenuElement" align="middle">
                    {% block users_element %}
                        <a href="{% url 'management:users' %}">
                            <img src="{% static 'images/usersIcon.png' %}" class="menuToggleIcon" id="usersIcon">
                        </a>
                    {% endblock %}
                </div>
                
            </div>

            <div class="container displayContainer">
                {% block content %}
                {% endblock %}
            </div>

            
        </div>

    </body>

</html>
