{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css_files %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}
{% block extra_js_files %}
    <script src="{% static 'js/login.js' %}"></script>
{% endblock %}

{% block header_text %}
    <h2>Admin Login</h2>
{% endblock %}

{% block page_content %}
    <form action="." id="login_form" name="login_form" method="post">
    {% csrf_token %}
    {% for field in login_form %}
    {{field.as_hidden}}
    {% endfor %}
    </form>
    <div class="col-md-12 loginContainer">
        <div class="col-md-12" align="middle">
            <h2>Login To Your Account</h2>
            <br>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <h4>Username:</h4>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" id="usernameInput">
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <h4>Password:</h4>
            </div>
            <div class="col-md-6">
                <input type="password" class="form-control" id="passwordInput">
            </div>
        </div>
        <div class="col-md-12">
            <br>
            <input type="submit" class="btn btn-success" value="LOGIN" form="login_form" id="submitLoginForm">
        </div>
    </div>
{% endblock %}