{% extends "management/managementBase.html" %}
{% load staticfiles %}

{% block extra_css_files %}
    <link href="{% static 'css/sales.css' %}" rel="stylesheet">
{% endblock %}
{% block extra_js_files %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.9.1/d3.min.js"></script>
    <script type="text/javascript" src="{% static 'js/quotes.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/promotions.js' %}"></script>
{% endblock %}


{% block inpage_js %}
    <script>
        
        $(document).ready(function() {
            $(".displayContainer").width($(".headerContainer").width() - 90);
        });

    </script>
{% endblock %}

{% block header_text %}
    <h2 class="headerText">Management: Sales</h2>
{% endblock %}

{% block sales_element %}
    <img src="{% static 'images/salesIcon_selected.png' %}" class="menuToggleIcon" id="selectedSalesIcon">
{% endblock %}


{% block content %}
    {% include 'include/costModal.html' %}
    {% include 'include/quoteDetailsModal.html' %}
    {% include 'include/newPromoModal.html' %}
    {% include 'include/viewCodesModal.html' %}
    {% include 'include/generateCodesModal.html' %}

    <form id="createNewPromotionForm" method="post" name="createNewPromotionForm">
        {% csrf_token %}
        {% for field in createNewPromotionForm %}
            {{field.as_hidden}}
        {% endfor %}
    </form>

    <div class="col-md-12"><br></div>

    <div class="col-md-12" id="mainViewContainer">
        <div class="col-md-12">
            <h2>Quotes and Orders</h2>
        </div>
        <div class="col-md-12" id="quotesTableContainer">
            <table class="table table-hover" id="quotesTable">
                <thead>
                    <tr>
                        <th class="dateCell">Submission Date</th>
                        <th class="customerCell">Customer</th>
                        <th class="costCell">Cost</th>
                        <th class="quoteStatusCell">Quote Status</th>
                        <th class="orderStatusCell">Order Status</th>
                        <th class="viewQuoteCell"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for q in quotes %}
                        <tr class="quoteRow" id="{{q.pk}}">
                            <td class="dateCell">{{q.creation_date}}
                            <td class="customerCell">{{q.customer_name}}</td>
                            <td class="costCell"><b>£{{q.basket.total_cost}}</b></td>
                            <td class="quoteStatusCell">
                                {{q.get_verbose_status_name}}
                            </td>
                            {% if q.order %}
                                <td class="orderStatusCell">{{q.order.get_verbose_status_name}}</td>
                                <td class="orderStatusCell">
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle orderStatusSelect" type="button" data-toggle="dropdown">
                                            {{q.order.get_verbose_status_name}}
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu orderStatusDropdownMenu">
                                            <li class="orderStatusDropdownOption">Processing</li>
                                            <li class="orderStatusDropdownOption">Dispatched</li>
                                            <li class="orderStatusDropdownOption">Received</li>
                                            <li class="orderStatusDropdownOption">Void</li>
                                        </ul>
                                    </div>
                                </td>
                            {% else %}
                                <td class="orderStatusCell"><p>No Order Present</p></td>
                            {% endif %}
                            <td class="viewCell">
                                <button type="button" class="btn btn-xs btn-primary viewQuote">View Quote</button>
                                {% if q.order %}
                                    <button type="button" class="btn btn-xs btn-primary viewOrder">View Order</button>
                                {% else %}
                                    <button type="button" class="btn btn-xs btn-primary viewOrder" disabled>View Order</button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h2>Promotions</h2>
        </div>
        <div class="col-md-6">
            <h2>Placeholder...</h2>
        </div>
        <div class="col-md-6" id="promoContainer">
            <table class="table table-hover" id="promotionsTable">
                <thead>
                    <tr>
                        <th class="promoNameCell">Name</th>
                        <th class="promoDescriptionCell">Description</th>
                        <th class="promoStartDateCell">Start Date</th>
                        <th class="promoExpiryDateCell">Expiry Date</th>
                        <th class="promoExpiredCell">Expired</th>
                        <th class="promoCodesCell">Codes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="promoNameCell">A</td>
                        <td class="promoDescriptionCell">B</td>
                        <td class="promoStartDateCell">C</td>
                        <td class="promoExpiryDateCell">D</td>
                        <td class="promoExpiredCell">E</td>
                        <td class="promoCodesCell">
                            <p><button type="button" class="btn btn-xs btn-primary viewCodes">View</button></p>
                            <p><button type="button" class="btn btn-xs btn-primary generateCodes">Generate</button></p>
                        </td>
                    </tr>
                    {% for promo in promotions %}
                        <tr class="promoRow" id="promo_{{promo.pk}}">
                            <td class="promoNameCell">{{promo.name}}</td>
                            <td class="promoDescriptionCell">{{promo.description}}</td>
                            <td class="promoStartDateCell">{{promo.start_date}}</td>
                            <td class="promoExpiryDateCell">{{promo.expiry_date}}</td>
                            <td class="promoExpiredCell">{{promo.expired}}</td>
                            <td class="promoCodesCell">
                                <p><button type="button" class="btn btn-xs btn-primary viewCodes">View</button></p>
                                <p><button type="button" class="btn btn-xs btn-primary generateCodes">Generate</button></p>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="6" align="middle"><button type="button" class="btn btn-success" id="openNewPromoModal">Create New</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6" id="placeholderContainer">
        </div>
    </div>

{% endblock %}