{% extends "management/managementBase.html" %}
{% load staticfiles %}

{% block extra_css_files %}
    <link href="{% static 'css/sales.css' %}" rel="stylesheet">
{% endblock %}
{% block extra_js_files %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.9.1/d3.min.js"></script>
    <script type="text/javascript" src="{% static 'js/sales.js' %}"></script>
{% endblock %}


{% block inpage_js %}
    <script>
        
        $(document).ready(function() {
            $(".displayContainer").width($(".headerContainer").width() - 90);

        });

    </script>
{% endblock %}

{% block header_text %}
    <h2 class="headerText">Management: Sales</h2>
{% endblock %}

{% block sales_element %}
    <img src="{% static 'images/salesIcon_selected.png' %}" class="menuToggleIcon" id="selectedSalesIcon">
{% endblock %}


{% block content %}
    {% include 'include/costModal.html' %}
    {% include 'include/quoteDetailsModal.html' %}
    <div class="col-md-12"><br></div>

    <div class="col-md-12" id="mainViewContainer">
        <div class="col-md-12">
            <h2>Quotes and Orders</h2>
        </div>
        <div class="col-md-12" id="quotesTableContainer">
            <table class="table table-hover" id="quotesTable">
                <thead>
                    <tr>
                        <th class="dateCell">Submission Date</th>
                        <th class="customerCell">Customer</th>
                        <th class="costCell">Cost</th>
                        <th class="quoteStatusCell">Quote Status</th>
                        <th class="orderStatusCell">Order Status</th>
                        <th class="viewQuoteCell"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for q in quotes %}
                        <tr class="quoteRow" id="{{q.pk}}">
                            <td class="dateCell">{{q.creation_date}}
                            <td class="customerCell">{{q.customer_name}}</td>
                            <td class="costCell"><b>£{{q.basket.total_cost}}</b></td>
                            <td class="quoteStatusCell">
                                {{q.get_verbose_status_name}}
                            </td>
                            {% if q.order %}
                                <td class="orderStatusCell">{{q.order.get_verbose_status_name}}</td>
                                <td class="orderStatusCell">
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle orderStatusSelect" type="button" data-toggle="dropdown">
                                            {{q.order.get_verbose_status_name}}
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu orderStatusDropdownMenu">
                                            <li class="orderStatusDropdownOption">Processing</li>
                                            <li class="orderStatusDropdownOption">Dispatched</li>
                                            <li class="orderStatusDropdownOption">Received</li>
                                            <li class="orderStatusDropdownOption">Void</li>
                                        </ul>
                                    </div>
                                </td>
                            {% else %}
                                <td class="orderStatusCell"><p>No Order Present</p></td>
                            {% endif %}
                            <td class="viewCell">
                                <button type="button" class="btn btn-xs btn-primary viewQuote">View Quote</button>
                                {% if q.order %}
                                    <button type="button" class="btn btn-xs btn-primary viewOrder">View Order</button>
                                {% else %}
                                    <button type="button" class="btn btn-xs btn-primary viewOrder" disabled>View Order</button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <div class="col-md-6" id="promoContainer">
                <div class="col-md-12">
                    <h2>Promotions</h2>
                </div>
                <div class="col-md-12" id="promotionsTablecontainer">
                    <table class="table table-hover" id="promotionsTable">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}