<div class="col-md-12 row-eq-height" id="basketHeaderRow">
    <div class="col-md-10">
        <h2>My Basket</h2>
    </div>
    <div class="col-md-2" id="editButtonContainer">
        <button type="button" class="btn btn-xs btn-primary" id="basketEditButton">EDIT</button>
    </div>
</div>
<div class="col-md-12" id="basketContentTableContainer">
    <table class="table table-hover" id="basketContentTable">
        <thead>
            <tr>
                <th class="removeItemCell"></th>
                <th class="itemNameCell basketHeaderCell">Name</th>
                <th class="itemAmountCell basketHeaderCell">Amount</th>
                <th class="itemCostCell basketHeaderCell">Cost</th>
            </tr>
        </thead>
        <tbody>
            {% for item in basket.items %}
                <tr class="itemRow" id="{{item.pk}}">
                    <td class="removeItemCell"><button type="button" class="btn btn-xs btn-danger removeFromBasket">&times;</button></td>
                    <td class="itemNameCell">{{item.name}}</td>
                    <td class="itemAmountCell">{{item.amount}}</td>
                    <td class="itemCostCell">{{item.cost}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="col-md-12 row-eq-height" id="totalContainer">
    <div class="col-md-4">
        <h3>Total:</h3>
    </div>
    <div class="col-md-8" align="right">
        <h3 id="basketTotalCost">{{basket.total_cost}}</h3>
    </div>
</div>
<div class="col-md-12" id="basketFooter">
    <a href="{% url 'cart:checkout' %}">
        <input type="submit" class="btn btn-success" id="checkout" form="" value="Checkout">
    </a>
</div>