
<!-- Modal -->
<div id="checkoutSummaryModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Checkout Summary</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <div class="col-md-6" align="left">
                        <button type="button" class="btn btn-basic" data-dismiss="modal">Close</button>
                    </div>
                    <div class="col-md-6" align="right">
                        <button type="button" class="btn btn-success">Confirm and Send</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>