
<!-- Modal -->
<div id="errorModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" id="errorModalHeader">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Warning</h4>
            </div>

            <div class="modal-body col-md-12">
                <div class="col-md-12">
                    <h3 id="errorMessage"></h3>
                </div>
            </div>
            
            <div class="col-md-12"><hr></div>

            <div class="col-md-12" align="right">
                <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>