<div id="notesTab" class="tab-pane fade">
    <div class="col-md-12"><br></div>
    <div class="col-md-12">
        <div class="col-md-6" id="promoDetailsContainer">
            <h4>Additional Notes:</h4>
        </div>
        <div class="col-md-6" id="basketOverview">
            <textarea class="form-control" rows="10" cols="20" id="noteInput"></textarea>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-6" align="left">
            <button type="button" class="btn btn-success previousButton" id="frame_4">Previous</button>
        </div>
        <div class="col-md-6" align="right">
            <button type="button" class="btn btn-success" id="viewSummary">Submit</button>
        </div>
    </div>
</div>