<div id="promotionsTab" class="tab-pane fade">
    <div class="col-md-12"><br></div>
    <div class="col-md-12">
        <div class="col-md-6" id="promoDetailsContainer">
            <div class="col-md-4">
                <h4>Promotion Code:</h4>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" id="promoCodeInput">
            </div>
            <div class="col-md-2" id="applyPromoCodeButtonContainer">
                <button type="button" class="btn btn-xs btn-success" id="applyPromoCode">APPLY</button>
            </div>
            <div class="col-md-12">
                <p id="promoDescription"></p>
            </div>
        </div>
        <div class="col-md-6" id="basketOverview">

        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-6" align="left">
            <button type="button" class="btn btn-success previousButton" id="frame_3">Previous</button>
        </div>
        <div class="col-md-6" align="right">
            <button type="button" class="btn btn-success nextButton" id="promotionNext">Next</button>
        </div>
    </div>
</div>