

<div id="orderDetailsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="orderDetailsTitle"></h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <h3>Status:</h3>
                        </div>
                        <div class="col-md-6">
                            <h4 id="orderDetailsStatus"></h4>
                        </div>
                    </div>
                    
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <h3>Payment Method:</h3>
                        </div>
                        <div class="col-md-6">
                            <h4 id="orderDetailsPaymentMethod"></h4>
                        </div>
                    </div>
                    
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <h3>Creation Date:</h3>
                        </div>
                        <div class="col-md-6">
                            <h4 id="orderDetailsCreationDate"></h4>
                        </div>
                    </div>
                    
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <h3>Postage Date:</h3>
                        </div>
                        <div class="col-md-6">
                            <h4 id="orderDetailsPostDate"></h4>
                        </div>
                    </div>
                    
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <h3>Receive Date:</h3>
                        </div>
                        <div class="col-md-6">
                            <h4 id="orderDetailsReceiveDate"></h4>
                        </div>
                    </div>
                    
                    <div class="col-md-12"><hr></div>
                    
                    <div class="col-md-12">
                        <div class="col-md-6" align="left">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Edit</button>    
                        </div>
                        <div class="col-md-6" align="right">
                            <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>