#basketContainer {
    background-color: #e8e8e8;
    height: 95vh;
    padding: 0px;
    margin: 0px;
}

.mainContainer {
    padding-right: 0px;
}

#basketContentTableContainer {
    height: 80vh;
    overflow-y: auto;
}

#checkout {
    width: 100%;
}

#totalContainer {
    padding: 0px;
}

.itemNameCell {
    width: 80%;
    word-wrap: break-word;
}

.itemAmountCell {
    width: 5%;
}

.itemCostCell {
    width: 15%;
}

#basketTotalCost {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#basketHeaderRow {
    padding-left: 0px;
}

#editButtonContainer {
    padding-top: 25px;
}