
.selectedOption {
    background-color: #555555;
    font-weight: bold;
}

.taxDropdown {
    width: 100%;
}

.taxDropdownMenu {
    width: 100%;
}

#blastSearchInput {
    resize: none;
}

.searchRadioButton {
    top: 10px;
}

#submitFooter {
    bottom: 20px;
    right: 5px;
    left: 5px;
    position: fixed;
}

#searchButton {
    width: 10%;
}

.blastSelectionContainer {
    width: 15%;
}


#pleaseWaitIcon {
    width: 64px;
    height: 64px;
}

#pleaseWaitBody {
    padding-top: 10px;
}