.openCostEditModal {
    margin-left: 10px;
}


#quoteCostInput {
    width: 50%;
}


#quoteDetailsBillingAddress {
    white-space: pre-wrap;
}
#quoteDetailsDeliveryAddress {
    white-space: pre-wrap;
}
#quoteDetailsCustomerNotes {
    white-space: pre-wrap;
}

.viewCodes {
    width: 100%;
}
.generateCodes {
    width: 100%;
}

#quotesTableContainer {
    height: 40vh;
    overflow-y: auto;
}

#promoContainer {
    height: 30vh;
    overflow-y: auto;
}

#placeholderContainer {
    height: 30vh;
    overflow-y: auto;
}

#newPromoDescriptionInput {
    resize: none;
}

#codesInitiallyActive {
    width: 30px;
    height: 30px;
}

#orderStatusDropdown {
    width: 100%;
}
#orderStatusDropdownMenu {
    width: 100%;
}

#paymentMethodDropdown {
    width: 100%;
}
#paymentMethodDropdownMenu {
    width: 100%;
}

#orderDetailsTabContent {
    min-height: 40vh !important;
}
#editOrderTabContent {
    min-height: 40vh !important;
}
.subDetails {
    padding-left: 0px;
}

#paymentMethodDropdown_edit {
    width: 100%;
}

#paymentMethodDropdownMenu_edit {
    width: 100%;
}

#orderStatusDropdown_edit {
    width: 100%;
}
#orderStatusDropdownMenu_edit {
    width: 100%;
}

#promoTypeDropdown {
    width: 100%;
}
#promoTypeDropdownMenu {
    width: 100%;
}
#newPromoFPRAmount {
    margin-left: 10px;
    width: 75%;
    display: inline-block;
}
#newPromoPRAmount {
    margin-right: 10px;
    width: 75%;
    display: inline-block;
}

.promo_limit {
    background-color: #ff7c7c;
}
.promo_inactive {
    background-color: #ffc67c;
}
.promo_active {
    background-color: #b7ffaf;
}

.promo_limit:hover {
    background-color: #ff4242 !important;
}
.promo_inactive:hover {
    background-color: #ffad42 !important;
}
.promo_active:hover {
    background-color: #7cff6d !important;
}