.openCostEditModal {
    margin-left: 10px;
}


#quoteCostInput {
    width: 50%;
}


#quoteDetailsBillingAddress {
    white-space: pre-wrap;
}
#quoteDetailsDeliveryAddress {
    white-space: pre-wrap;
}
#quoteDetailsCustomerNotes {
    white-space: pre-wrap;
}