.openCostEditModal {
    margin-left: 10px;
}


#quoteCostInput {
    width: 50%;
}


#quoteDetailsBillingAddress {
    white-space: pre-wrap;
}
#quoteDetailsDeliveryAddress {
    white-space: pre-wrap;
}
#quoteDetailsCustomerNotes {
    white-space: pre-wrap;
}

.viewCodes {
    width: 100%;
}
.generateCodes {
    width: 100%;
}

#quotesTableContainer {
    height: 40vh;
    overflow-y: auto;
}

#promoContainer {
    height: 30vh;
    overflow-y: auto;
}

#placeholderContainer {
    height: 30vh;
    overflow-y: auto;
}

#newPromoDescriptionInput {
    resize: none;
}